
export(ari)
export(compute_simpson_index)
export(countPairs)
export(lisi)
export(nmi)
export(silhouette_width)
export(stratified_sample)
import(Rcpp)
importFrom(RANN,nn2)
importFrom(cluster,silhouette)
importFrom(stats,dist)
useDynLib(scPOP, .registration=TRUE)
